.button {
  margin: 0 auto;
  width: 80px;
  padding: 5px 10px;
  border-radius: 8px;
  box-shadow: 2px 2px 2px 2px grey;
  border: 1px solid black;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
  &:hover,
  &:focus {
    background-color: lightcyan;
  }
}

.text {
  font-size: 16px;
}

.container {
  display: flex;
  margin-bottom: 10px;
  gap: 10px;
}
